.user-page-top {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.user-page-img {
  margin: 0px;
  width:80px;
  height:80px;
  object-fit:cover;
  /* border-radius:50%; */
  background-color: rgb(142, 142, 142);
}

.user-list {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  margin-left: 4px;
}

.list-user {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  width: 100px;
}
