
.home-game-board {
  background-color: white;
  /* border: 1px solid black; */
  height: 500px;
  width: 500px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.home-outer-game-board {
  transform: scale(0.6);

}

.home-page-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}

.about-links {
  display: flex;
  column-gap: 10px;
  border: 1px solid gray;
  border-radius: 30px;
  height: 30px;
  width: 80px;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  margin-bottom: 10px;
}

.about-area {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.demo-game-button {
  position: relative;
  bottom: 60px;
}
