.game-board {
  background-color: white;
  /* border: 1px solid black; */
  height: 500px;
  width: 500px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* transform: rotate(180deg); */
}

.tile {
  box-sizing: border-box;
  height: 12.5%;
  width: 12.5%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-valid {
  border: 5px solid lawngreen;
}

.tile-selected {
  border: 5px solid lightseagreen;
}

.tile-moved {
  border: 5px solid yellow;
}

.player-black {
  transform: rotate(180deg);
}
/* .tile:hover {
  border: 2px solid greenyellow;
} */

.game-board-row {
  width: 100%;
  height: 12.5%;
  display: flex;
  padding: 0;
  margin: 0;
}

.black-tile {
  background-color: rgb(0, 117, 10);
}

.white-tile {
  background-color: white;
}

.black-pawn {
height: 0;
width: 0;
overflow: visible;
transition: transform 0.6s;
/* z-index: 5; */
/* position: fixed; */
/* transform: translate(0, -62.5px); */
}

.black-pawn-img {
height: 62.5px;
width: 62.5px;
}

.outer-game-board {
  width: fit-content;
  height: fit-content;
}

.user-icon-img {
  margin: 0px;
  width:32px;
  height:32px;
  object-fit:cover;
  border-radius:50%;
  background-color: rgb(142, 142, 142);
}

.game-player-div {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.board-container {
  display: flex;
  align-items: center;
}
