/* TODO Add site wide styles */

html {
  padding: 0px;
  margin: 0px;

}

body {
  padding: 0px;
  margin: 0px;
  padding-left: 130px;
  background-color: #312e2b;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.active-true {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: greenyellow;
  display: inline-block;
  margin-bottom: 8px;
  /* border: 2px solid rgb(0, 186, 0); */
}
.active-false {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

button {
  border-radius: 20px;
  background-color: rgb(98, 93, 89);
  margin: 2px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  color: white;
  border: none;
}
