/* TODO Add site wide styles */

html {
  padding: 0px;
  margin: 0px;

}

body {
  padding: 0px;
  margin: 0px;
  padding-left: 130px;
  background-color: #312e2b;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
