.game-bar {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(58, 56, 53);
  color: rgb(241, 241, 241);
  width: 250px;
  left: 130px;
  margin: 0;
  top: 0;
}

.game-sent-received {
  display: flex;
  justify-content: center;
}

.game-tab {
text-align: center;
margin-right: 8px;
margin-left: 8px;
border-left: 1px solid black;
border-right: 1px solid black;
border-top: 1px solid black;
padding: 4px;
border-top-left-radius: 15%;
border-top-right-radius: 15%;
width: 70px;
cursor: pointer;
transform: translateY(1px);
}

.game-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
}

.game-requests-info {
  width: 100%;
  border-top: 1px solid black;
  overflow: auto;
  height: 100%;
}
.game-requests .active {
  /* background-color: rgb(52, 50, 47); */
  background-color: rgb(58, 56, 53);
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;

}

.games-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  overflow: auto;
  height: 100%;
}

.game-button {
  border: 1px solid black;
  width: 150px;
  cursor: pointer;
  padding: 8px;
  height: 40px;
  border-radius: 10px;
}

.turn-text {
  font-size: small;
  color: rgba(255, 255, 255, 0.445);
}
